/vendor/
/.codelite/
/log/*.log
!/log/README.md
.DS_Store
._*
*.phprj
*.workspace
config/config.php
config/config.json
config/config.ini
composer.lock
/nbproject/*
nbproject/*
data/*
.idea/
NoSQLData/
.ini
/.php_cs.cache
/tools/php-cs-fixer/vendor/
/Test/config/config.json
/tools/phpunit/vendor/
